
/* global */
*{
    /* font-family: 'Joan', serif; */
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
hr{
    margin-bottom: 20px;
}
a{
    text-decoration: none;
}
h3 a{
    color:white;
}
h3, h1{
    text-align: center;
    text-shadow: 1px 1px gray;
    text-transform: uppercase;
    margin: 20px 0;
}
body{
    font-size: 30px;
    /* background-image: url("https://isdp.eu/content/uploads/2020/12/Guam-Map-Cover.jpg"); */
    /* background-size:auto; */
}
main{
    font-size: 30px;
    margin: 0 15%;
}
/* header */
header{
    color: white;
    text-align: center;
    background-image: url("terq-tri.jpeg");
    background-size: cover;
    background-position:bottom;
    padding: 20px;
    box-shadow: 0px 10px 30px grey;
}
/* footer */
footer{
    text-align: center;
    /* position:fixed; */
    /* bottom: 0; */
    width: 100%;
    background: grey;
    padding-top: 20px;
    margin-top: 30px;
}

/* utilities i.e. cdntered texts, buttone, and style classes for multiple tags */
.notes{
    color:white;
    background-color: #80b84a;
    margin: 20px;
    margin-bottom: 40px;
    border: solid black 1px;
    border-radius: 30px;
    text-shadow: 1px 1px gray;

}
.flx{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
/* nav */
.menu{
    display:flex;
    justify-content: center;
    gap: 20px;
    
}
.menu:hover{
    position: relative;
    bottom:3px;
    display:flex;
    justify-content: center;
    gap: 20px;
}
div.notes img{
    width: 100%;
    border-radius: 0px 0px 30px 30px ;
}
div.notes p{
    margin: 20px;
}
.menu a{
    color: yellow;
    font-weight: 900;
}
nav.menu a:hover{
        font-weight:  bold;
        text-shadow: 2px 2px gray;
}
nav.social-networks a{
    display: flex;
    color: black;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    height: 20%;
}
.services{
    text-align: center;
    background-color: #dedede;
    border: black solid 1px ;
    border-radius: 20px;
    margin: 20px auto;
    width: 700px;
}
.services:hover{
    position: relative;
    bottom:5px;
    right: 3px;
    text-align: center;
    background-color: #dedede;
    border: black solid 1px ;
    border-radius: 20px;
    margin: 20px auto;
    width: 700px;
    box-shadow: 20px 20px 50px grey;
}
div.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 5px;
    gap: 30px;

}
div.services ol li, div.services ul li{
    margin: 50px;
}
div.services ol li:hover{
    font-weight:bolder;
    text-shadow: 1px 1px gray;
}
div.services ul li:hover{
    font-weight:  bold;
    text-shadow: 1px 1px gray;
}
.mobile-bg{
    background-image: url("https://www.appnovation.com/sites/default/files/2018-06/Mobile%20Development.JPG");
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    
    background-position: right;
    height: 100px;

}
.web-bg{
    /* background-image: url("https://www.trio.dev/hubfs/Imported_Blog_Media/263a75529a1752b75d64f9f21fd07c92-3-2.jpg"); */
    background-image: url("https://c0.wallpaperflare.com/preview/920/519/697/abstract-php-c-analytics.jpg");
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: center;
    height: 100px;

}
.social-bg{
    background-image: url("https://www.postbeyond.com/wp-content/uploads/2021/02/social-media-importance-min.png");
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: center;
    height: 100px;
}
.drone-bg{
    background-image: url("https://www.analyticsinsight.net/wp-content/uploads/2020/08/Drones-scaled-1440x564_c.jpg");
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: center;
    height: 100px;
}
/* contact */
.cont-head{
    /* width: 100%; */
    color: white;
    text-align: center;
    margin: 40px

}
.map{
    background-image:url("https://d1eipm3vz40hy0.cloudfront.net/images/AMER/contactuspage.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}
div.cont-head p{
    font-size:xx-large;
    padding: 20px;
}
